@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Itim&family=Odor+Mean+Chey&family=Prompt:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    text-shadow: #000 0px 0px 0.5px;
    
}


.hov-primary {
    transition: all 0.1s ease-in-out;
}

.hov-primary:hover {
    background-color: rgb(211, 31, 31);
    color: white !important;
    cursor: pointer;
    padding: 7px;
    /* color: var(--bs-btn-bg); */
}

.bg-gray-100 {
    background-color: #ebebeb;
}

.Topic {
    padding-left: 2rem;
    color: #c02f07;
    font-weight: 800;
    /* border: 3px solid red;
    border-radius: 1rem; */
}

a {
    text-decoration: none;
    color: black;
}

#col{
    margin-right: 0px;
}

aside li {
    width: 14rem;
    list-style: none;
    text-decoration: none;
    padding-right: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
    margin-left: -10px;
}

.full-height-overflow1 {
    height: 80vh;
    /* width: 40vh; */
    overflow-x: hidden;
}  
.App {
    background-color: #871e01;
    padding: 10px;
    padding-left: 5rem;
    /* margin-bottom: 3rem; */
    color: aliceblue;
    font-weight: bold;
    font-family: 'Alkatra', sans-serif;
    /* border-radius: 5px; */
}

.login {
    display: grid;
    grid-template-columns: 700px auto;
    width: 100%;
    padding: 0.6rem;
    /* border: 1px solid blue; */
}
#login{
    display: flex;
    width:100%;
}

input:hover {
    background-color: #db7f65e8;
    cursor: pointer;
}

.btn_login {
    /* width: 10px; */
    margin-top: 14px;
}

img{
    width: 24rem;
    height: 17rem;
    
}
.logo{
    display: flex;
    justify-content: center;
    /* width: 100px; */
    /* border:1px solid #000; */
}
.head{
    display: flex;
    justify-content: center;
}

/* .full-height-overflow img:hover{
    cursor: pointer;
    padding: 3px;
} */
.office:hover{
    cursor: pointer;
    padding: 3px;
}
/* .container {
    
    /* ?????????? Alkatra ????????????????????????????????? sans-serif ??? */
    /* } */ 
#tobe{
    width: 450px;
    height: 40px;
    margin-left: 15rem;
    margin-top: 0.5rem;
    filter: drop-shadow(0px 0px 0.2px #222);
}

.yess{
    display: flex;
    justify-content: end;
}
.yes{
    /* -webkit-filter: drop-shadow(20px 20px 20px #fdfbfb ); */
    /* position: absolute; */
    filter: drop-shadow(1px 1px 1.2px #ffffff);
    width:160px; 
    height:35px;
    z-index:999999;
    margin-top: 17px;
    /* display: flex; */
    /* /* justify-content: right; */
    /* border: 1px solid black; */
    /* margin-left: 1340px;  */

}
.logoapp{
    /* -webkit-filter: drop-shadow(20px 20px 20px #fdfbfb ); */
    /* position: absolute; */
    filter: drop-shadow(1px 1px 1.2px #ffffff);
    width:180px; 
    height:60px;
    z-index:999999;
    margin-top: 17px;
    /* display: flex; */
    /* /* justify-content: right; */
    /* border: 1px solid black; */
    /* margin-left: 1340px;  */

}


  